body {
	height: 550px;
	width: 400px;
	display: table-cell;
	vertical-align: middle;
	font-family: Tahoma;	
}

.card {
	height: 526px;
	width: 376px;
	border: 2px solid #5a5a5a;
	margin: auto;

}

h1 {

	font-size: 22px;
	font-weight: normal;
	text-align: center;
	padding: 10px;
	line-height: 1.2em;
}

img {
	display: block;
	width: 250px;
	height: 285px;
	padding-top: 13px;
	margin: auto;
}

.installmentLabel {
	width: 190px;
	height: 30px;
	background-color: #9ab948;
	margin-top: 4px;
	font-size: 22px;
	font-weight: normal;	
	text-align: center;
	line-height: 27px;
	color: white;
	box-shadow: -3px 3px 0px 0px rgba(156,156,156,1);
}

.price {
	font-size: 31px;
	font-weight: normal;	
	text-align: center;
	line-height: 67px;
}

.btnToCard {
	width: 230px;
	height: 46px;
	font-size: 28px;
	font-weight: normal;
	color: white;
	text-shadow: -1px 1px black;
	line-height: 44px;
	background-color: #e93f34;	
	margin-left: 62px;
	box-shadow: -3px 3px 0px 0px #791c16;
	border: none;
}

.btnToCard span{
	margin-left: 10px;

}