.firstLine,
.secondLine,
.thirdLine {
	float: left;
}
.cell {
	width: 200px;
	height: 200px;
	vertical-align: middle;
	display: table-cell;
}

.dark {
	background: #791c16;
}

img {
	display: block;
	width: 180px;
	height: 180px;
	margin: auto;
	line-height: 200px;

}